*{
			background: #CC99CC;
		}
#main {
    background-image: url('img/tree.png');
}
		canvas {
         /*   */
            border: 1px solid #CC66CC;
			display: block;
			margin: auto;
		}
		p{
			font-size:20px;
			text-align:center;
			font-family: Helvetica;
		}